<div class="page-content custom-bkg bkg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-container">
                    <div id="client-carousel" class="owl-carousel owl-carousel-navigation">
                        <div class="owl-item"><img src="img/pics/client01.png" alt=""/></div>
                        <div class="owl-item"><img src="img/pics/client02.png" alt=""/></div>
                        <div class="owl-item"><img src="img/pics/client03.png" alt=""/></div>
                        <div class="owl-item"><img src="img/pics/client04.png" alt=""/></div>
                        <div class="owl-item"><img src="img/pics/client05.png" alt=""/></div>
                        <div class="owl-item"><img src="img/pics/client06.png" alt=""/></div>
                    </div><!-- .owl-carousel.owl-carousel-navigation end -->
                </div><!-- .carousel-container end -->
            </div><!-- .col-md-12 end -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</div>