<div class="page-content custom-bkg bkg-dark-blue column-img-bkg dark mb-70">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2 custom-col-padding-both">
                        <div class="custom-heading">
                            <h3>INDUSTRY SECTORS COVERAGE</h3>
                        </div><!-- .custom-heading end -->

                        <p>
                            We cover different industry sectors, from food and 
                            beverage, chemical, retail, durable goods and more. 
                            Check the full list.
                        </p>

                        <ul class="service-list clearfix">
                            <li>
                                <div class="icon-container">
                                    <img class="svg-white" src="img/svg/pi-cargo-box-2.svg" alt="icon"/>                                    
                                </div><!-- .icon-container end -->

                                <p>
                                    Consumer Packaged Goods
                                </p>
                            </li>

                            <li>
                                <div class="icon-container">
                                    <img class="svg-white" src="img/svg/pi-mark-energy.svg" alt="icon"/>                                    
                                </div><!-- .icon-container end -->

                                <p>
                                    Chemical Goods
                                </p>
                            </li>

                            <li>
                                <div class="icon-container">
                                    <img class="svg-white" src="img/svg/pi-food-beverage.svg" alt="icon"/>                                    
                                </div><!-- .icon-container end -->

                                <p>
                                    Food and Beverage
                                </p>
                            </li>

                            <li>
                                <div class="icon-container">
                                    <img class="svg-white" src="img/svg/pi-cargo-retail.svg" alt="icon"/>                                    
                                </div><!-- .icon-container end -->

                                <p>
                                    Retail Goods
                                </p>
                            </li>

                            <li>
                                <div class="icon-container">
                                    <img class="svg-white" src="img/svg/pi-truck-8.svg" alt="icon"/>                                    
                                </div><!-- .icon-container end -->

                                <p>
                                    Energy, Oil and Gas
                                </p>
                            </li>
                        </ul><!-- .service-list end -->
                    </div><!-- .col-md-6 end -->

                    <div class="col-md-6 img-bkg01">
                        <div>&nbsp;</div>
                    </div>
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div>