<div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="custom-heading">
                            <h3>company news</h3>
                        </div><!-- .custom-heading end -->

                        <ul class="pi-latest-posts clearfix">
                            <li>
                                <div class="post-media">
                                    <img src="img/blog/latest01.jpg" alt=""/>
                                </div><!-- .post-media end -->

                                <div class="post-details">
                                    <div class="post-date">
                                        <p>
                                            <i class="fa fa-calendar"></i>
                                            MAY 15, 2015
                                        </p>
                                    </div>

                                    <a href="news-single.html">
                                        <h4>
                                            Trucking - Company of the Year 2014
                                        </h4>
                                    </a>

                                    <a href="news-single.html" class="read-more">
                                        <span>
                                            Read more
                                            <i class="fa fa-chevron-right"></i>
                                        </span>
                                    </a>
                                </div><!-- .post-details end -->
                            </li>

                            <li>
                                <div class="post-media">
                                    <img src="img/blog/latest02.jpg" alt=""/>
                                </div><!-- .post-media end -->

                                <div class="post-details">
                                    <div class="post-date">
                                        <p>
                                            <i class="fa fa-calendar"></i>
                                            MAY 15, 2015
                                        </p>
                                    </div>

                                    <a href="news-single.html">
                                        <h4>
                                            First quartal 2015 revenue report released
                                        </h4>
                                    </a>

                                    <a href="news-single.html" class="read-more">
                                        <span>
                                            Read more
                                            <i class="fa fa-chevron-right"></i>
                                        </span>
                                    </a>
                                </div><!-- .post-details end -->
                            </li>
                        </ul><!-- .pi-latest-posts end -->
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-4 col-sm-6">
                        <div class="custom-heading">
                            <h3>what clients say</h3>
                        </div><!-- .custom-heading end -->

                        <div class="carousel-container">
                            <div id="testimonial-carousel" class="owl-carousel owl-carousel-navigation">
                                <div class="owl-item">
                                    <div class="testimonial">
                                        <p>
                                            Best customer support and 
                                            response time I have ever seen... 
                                            not to mention a kick ass theme! 
                                            Great feeling from this purchase.
                                            Thank you Pixel Industry!
                                        </p>

                                        <div class="testimonial-author">
                                            <p>
                                                TRAVIS COPLAND, <br />
                                                Transport & Logistics Solutions
                                            </p>
                                        </div><!-- .testimonial-author end -->
                                    </div><!-- .testimonial end -->
                                </div><!-- .owl-item end -->

                                <div class="owl-item">
                                    <div class="testimonial">
                                        <p>
                                            Thanks for developing 
                                            products to help many people 
                                            to work as I do. Thank you! 
                                            Success for all! I did not 
                                            need to use the support, 
                                            this never happened to me. 
                                            Pocket Theme bought today 
                                            for another client, very 
                                            good too! Hug!
                                        </p>

                                        <div class="testimonial-author">
                                            <p>
                                                ADRIANOSP, <br />
                                                Themeforest member
                                            </p>
                                        </div><!-- .testimonial-author end -->
                                    </div><!-- .testimonial end -->
                                </div><!-- .owl-item end -->

                                <div class="owl-item">
                                    <div class="testimonial">
                                        <p>
                                            We have several sites now 
                                            built in Elvyre across 
                                            several servers and have had 
                                            almost zero issues. The 
                                            documentation is great and 
                                            the featureset is phenomenal. 
                                            It is the best looking 
                                            pro-level and fairly easy-to-implement 
                                            advanced theme we are currently 
                                            regularly using. The end product 
                                            is great and easy to use and 
                                            configure. Highly recommended...
                                        </p>

                                        <div class="testimonial-author">
                                            <p>
                                                DIGITALMARKETINGASSOCIATES, <br />
                                                Themeforest member
                                            </p>
                                        </div><!-- .testimonial-author end -->
                                    </div><!-- .testimonial end -->
                                </div><!-- .owl-item end -->
                            </div><!-- #testimonial-carousel end -->
                        </div><!-- .carousel-container end -->
                    </div><!-- .col-md-4 end -->

                    <div class="col-md-4 col-sm-12 clearfix">
                        <div class="custom-heading">
                            <h3>our locations</h3>
                        </div><!-- .custom-heading end -->

                        <img src="img/pics/locations.jpg" alt="locations illustration"/>

                        <br />

                        <p>
                            Trucking Co. covers over 150 locations all 
                            over the globe plus numerous logistic 
                            partner companies from different areas of 
                            supply chain.
                        </p>

                        <a href="locations.html" class="read-more">
                            <span>
                                View all locations
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </div><!-- .col-md-4 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </div>