<!DOCTYPE html>
<div id="masterslider" class="master-slider ms-skin-default mb-0">
    <!-- first slide -->
    <div class="ms-slide">
        <!-- slide background -->
        <img src="masterslider/blank.gif" data-src="img/slider/slide01.jpg" alt="Strongest distribution network"/>  

        <img class="ms-layer" src="masterslider/blank.gif" data-src="img/slider/slider-line.jpg" alt=""
             style="left: 0; top: 310px;"
             data-type="image" 
             data-effect="left(short)" 
             data-duration="300"
             data-hide-effect="fade" 
             data-delay="0" 
             />

        <h2 class="ms-layer pi-caption01" 
            style="left: 0; top: 340px;" 
            data-type="text" 
            data-effect="left(short)" 
            data-duration="300"
            data-hide-effect="fade" 
            data-delay="300" 
            >
            strongest
        </h2>

        <h2 class="ms-layer pi-caption01" 
            style="left: 0; top: 400px;" 
            data-type="text"
            data-effect="left(short)" 
            data-duration="300"
            data-hide-effect="fade" 
            data-delay="600" 
            >
            distribution
        </h2>

        <h2 class="ms-layer pi-caption01" 
            style="left: 0; top: 460px;" 
            data-type="text"
            data-effect="left(short)" 
            data-duration="300"
            data-hide-effect="fade" 
            data-delay="900" 
            >
            network
        </h2>
    </div><!-- .ms-slide end -->

    <!-- slide 02 start -->
    <div class="ms-slide">
        <!-- slide background -->
        <img src="masterslider/blank.gif" data-src="img/slider/slide02.jpg" alt="International Air freight"/> 

        <h2 class="ms-layer pi-caption01" 
            style="left: 58px; top: 390px;" 
            data-type="text" 
            data-effect="top(short)" 
            data-duration="300"
            data-hide-effect="fade" 
            data-delay="0" 
            >
            International Air Freight
        </h2>

        <img class="ms-layer" src="masterslider/blank.gif" data-src="img/slider/slide03.jpg" alt=""
             style="left: 540px; top: 450px;"
             data-type="image" 
             data-effect="bottom(short)" 
             data-duration="300"
             data-hide-effect="fade" 
             data-delay="300" 
             />

        <p class="ms-layer pi-text"
           style="left: 375px; top: 470px;"
           data-type="text" 
           data-effect="top(short)" 
           data-duration="300"
           data-hide-effect="fade" 
           data-delay="600"      
           >
            Fast International Air Delivery
        </p>
    </div><!-- .ms-slide end -->

    <!-- slide 03 start -->
    <div class="ms-slide">
        <!-- slide background -->
        <img src="masterslider/blank.gif" data-src="img/slider/slide04.jpg" alt="Worldwide freight services"/> 

        <h2 class="ms-layer pi-caption01" 
            style="left: 258px; top: 390px;" 
            data-type="text" 
            data-effect="top(short)" 
            data-duration="300"
            data-hide-effect="fade" 
            data-delay="0" 
            >
            Freight services
        </h2>

        <img class="ms-layer" src="masterslider/blank.gif" data-src="img/slider/slider-line.jpg" alt=""
             style="left: 540px; top: 450px;"
             data-type="image" 
             data-effect="bottom(short)" 
             data-duration="300"
             data-hide-effect="fade" 
             data-delay="300" 
             />

        <p class="ms-layer pi-text"
           style="left: 278px; top: 470px;"
           data-type="text" 
           data-effect="top(short)" 
           data-duration="300"
           data-hide-effect="fade" 
           data-delay="600"      
           >
            Road, air, train or overseas. We got it covered!
        </p>
    </div><!-- .ms-slide slide03 end -->

    <!-- slide 04 start -->
    <div class="ms-slide">
        <!-- slide background -->
        <img src="masterslider/blank.gif" data-src="img/slider/slide04.jpg" alt="Worldwide freight services"/> 

        <h2 class="ms-layer pi-caption01" 
            style="left: 388px; top: 390px;" 
            data-type="text" 
            data-effect="top(short)" 
            data-duration="300"
            data-hide-effect="fade" 
            data-delay="00" 
            >
            Trucking
        </h2>

        <img class="ms-layer" src="masterslider/blank.gif" data-src="img/slider/slider-line.jpg" alt=""
             style="left: 540px; top: 450px;"
             data-type="image" 
             data-effect="bottom(short)" 
             data-duration="300"
             data-hide-effect="fade" 
             data-delay="300" 
             />

        <p class="ms-layer pi-text"
           style="left: 265px; top: 470px;"
           data-type="text" 
           data-effect="top(short)" 
           data-duration="300"
           data-hide-effect="fade" 
           data-delay="600"      
           >
            Powerful Transport & Logistics Web Solution
        </p>
    </div><!-- .ms-slide slide04 end -->
</div>